:root {
  --primary-color: #fff;
  --secondary-color: rgba(111, 73, 55, 0.4);
  --bg-color: rgba(163, 163, 163, 0.6);
}

html {
  min-height: 100%;
  background-image: url("../img/background.webp");
  background-color: #335145;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  align-content: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

p,
label,
input,
select {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: solid var(--secondary-color);
  border-radius: 5px;
  margin: 0;
}

select,
input,
label,
option,
.animal-option,
option,
select option {
  text-transform: capitalize;
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em auto 0;
  cursor: pointer;
  max-width: 250px;
}

button {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-radius: 15px;
  align-self: center;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0.7em 1.5em;
  font-size: 0.8rem;
  transition: transform 200ms ease-in-out;
  margin: 1em 0;
}

button:hover,
button:active {
  transform: scale(1.1);
}

input:checked {
  border: 9px solid #161616;
}

option {
  font-size: 0.75rem;
}

select {
  width: 200px;
  padding: 0.25em 0.5em;
}

#size-container {
  margin: 0.5em auto 2em;
}

#input-number {
  width: 80px;
  appearance: textfield;
  text-align: left;
  padding: 0.35em 0.5em;
}

#unit-time-container {
  margin-left: 1em;
}

#unit-time-input {
  width: 150px;
  appearance: textfield;
  text-align: left;
  padding: 0.25em;
}

#input-value-container,
#unit-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#result {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: solid var(--bg-color);
  border-radius: 5px;
  padding: 0.25em;
  font-size: 1.5rem;
  align-self: center;
  font-weight: 400;
}

#size-desc {
  font-size: 1rem;
  margin: 2em auto;
  padding: 0.5em;
  width: 230px;
}

#container-small,
#container-medium,
#container-big {
  margin: 0.5em auto;
}

.size-label {
  margin: 0 0.5em 0 1.25em;
}

#container-random-dog-img {
  position: absolute;
  width: 100%;
  height: 540px;
  top: 102px;
  margin: 0;
  overflow: hidden;
}

#container-all {
  flex-wrap: wrap;
}

#random-dog-img {
  display: block;
  position: relative;
  top: 0.25rem;
  border-radius: 5px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 535px;
  background-size: cover;
  z-index: 2;
}

#btn-random-dog {
  margin: 2em 0;
}

#btn-close-random-dog-img {
  position: absolute;
  z-index: 5;
  right: 1em;
  font-size: 1em;
  padding: 0.5em 0.75em;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.6);
}

#animal-container {
  padding-top: 1em;
}

.container {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
  max-width: 950px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  justify-content: space-around;
}

.age-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animal-option {
  text-transform: capitalize;
  color: var(--primary-color);
}

.description {
  color: var(--primary-color);
  font-weight: 300;
}

.size-option {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #161616;
  transition: 0.2s all linear;
  margin-right: 0.5em;
  margin-bottom: -7px;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (min-width: 640px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2rem;
    margin: 2em auto;
    max-width: 990px;
  }

  button {
    font-size: 1.25rem;
  }

  #container-all {
    padding: 0 2em;
  }

  #unit-time-input {
    width: 175px;
  }

  #size-desc {
    width: 420px;
  }

  #container-random-dog-img {
    max-width: 990px;
    height: 675px;
    top: 500px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #random-dog-img {
    border-radius: 20px;
    height: 675px;
    width: 91%;
    margin: 0 auto;
  }

  #btn-close-random-dog-img {
    top: 0.5em;
    right: 2.5em;
  }

  .container {
    border-radius: 20px;
    margin: 2em auto;
    min-height: 600px;
    width: 90%;
  }

  .description {
    font-size: 1.5rem;
  }

  .size-label {
    font-size: 1rem;
  }

  option {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  #random-dog-img {
    width: 95%;
  }

  #container-random-dog-img {
    max-width: 1050px;
  }
}
