* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  background: #1c1c1c;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fcfffc;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  font-weight: 300;
}

header {
  padding: 1em;
  background: #2c3d55;
  color: #fcfffc;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #2c3d55;
  color: #fcfffc;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fcfffc;
  font-size: 1.25em;
}

a:hover,
a:active {
  color: #161d29;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
}

h2 {
  margin: 2.5em;
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin: 0.75em auto;
}

input {
  padding: 0.5em 0.3em;
  border-radius: 5px;
  margin: 0.5em auto 1.5em;
}

button {
  border-radius: 5px;
  background: #2c3d55;
  color: #fcfffc;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: none;
  padding: 0.7em 2em;
  cursor: pointer;
}

button:hover,
button:active {
  opacity: 0.8;
}

#title {
  cursor: pointer;
}

#favorite-show {
  font-size: 0.9rem;
  padding-left: 0.5em;
  width: 190px;
}

#favorite-show-btn {
  margin-bottom: 6em;
}

#reset-btn {
  margin-bottom: 10em;
}

#container-result-fav {
  display: flex;
  flex-direction: column;
}

#container-result-fav img {
  width: 300px;
  margin: 0 auto;
}

#container-results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-result-new {
  display: flex;
  flex-direction: column;
}

#container-overlay {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

#img-overlay {
  position: absolute;
  bottom: 100%;
  left: 6px;
  right: 0;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 0;
  transition: 0.5s ease;
}

#container-overlay:hover #img-overlay,
#container-overlay:active #img-overlay {
  bottom: 10px;
  height: 96%;
}

#info-container {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#new-show-section,
#favorite-show-section {
  max-width: 1280px;
  margin: 2em auto 0;
}

#favorite-show-section {
  display: display;
  flex-wrap: wrap;
  justify-content: space-between;
}

.show-img-element {
  border: #fcfffc solid 6px;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.show-info-element {
  font-size: 1.25rem;
  text-align: center;
  margin: 0.75em 1em 2.5em;
}

.is-favorite {
  font-size: 1rem;
  width: 50%;
  text-align: left;
}

.hide {
  display: none;
  margin: 2em auto;
}

.show {
  display: block;
  margin: 2em auto;
}

/* Image event */

#img-info {
  display: none;
}

@media (min-width: 640px) {
  h1 {
    font-size: 2.5em;
  }

  input {
    margin-right: 4em;
  }

  header {
    padding: 2em;
    margin-bottom: 5em;
  }

  #container-results {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  #container-results:last-child {
    justify-content: flex-start;
  }

  .container-result-new {
    width: 50%;
  }

  .show-info-element {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container-result-new {
    width: 30%;
  }
}
